<button (click)="setType('LINECHART')">Line Chart</button>
<button (click)="setType('COLUMNCHART')">Column chart</button>
<button (click)="setType('BARCHART')">Bar chart</button>
<button (click)="setType('PIECHART')">Pie chart</button>
<button (click)="setType('STACKEDCOLUMNCHART')">Stacked Column chart</button>
<button (click)="setType('STACKEDBARCHART')">Stacked Bar chart</button>
<button (click)="setType('TABLE')">Table</button>
<lib-visualizations [queryResult]="query"></lib-visualizations>
